<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form Example</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
  <h2 class="mb-4">Chemical Properties Form</h2>
  <form action="/save" method="post">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="form-group">

      <label for="mole_WT">Molecular Weight</label>
      <input type="text" class="form-control" id="mole_WT" name="mole_WT" required>
    </div>
    <div class="form-group">
      <label for="tc">Critical Temperature (K)</label>
      <input type="text" class="form-control" id="tc" name="tc" required>
    </div>
    <div class="form-group">
      <label for="pc">Critical Pressure (MPa)</label>
      <input type="text" class="form-control" id="pc" name="pc" required>
    </div>
    <div class="form-group">
      <label for="omega">Acentric Factor (ω)</label>
      <input type="text" class="form-control" id="omega" name="omega" required>
    </div>
    <div class="form-group">
      <label for="pc">Specific heat eq. coeff A (eg: cp(T) = A*T^3+B*T^2+C*T+D </label>
      <input type="text" class="form-control" id="cpA" name="cpA" required>
    </div>
    <div class="form-group">
      <label for="pc">Specific heat eq. coeff B</label>
      <input type="text" class="form-control" id="cpB" name="cpB" required>
    </div>

    <div class="form-group">
      <label for="pc">Specific heat eq. coeff C </label>
      <input type="text" class="form-control" id="cpC" name="cpC" required>
    </div>
    <div class="form-group">
      <label for="pc">Specific heat eq. coeff D</label>
      <input type="text" class="form-control" id="cpD" name="cpD" required>
    </div>


    <div class="form-group">
      <label for="pc">Antoine equation coeff PVAPA (eg: log10P = A - B/(T+C))</label>
      <input type="text" class="form-control" id="pvapa" name="pvapa" required>
    </div>
    <div class="form-group">
      <label for="pc">Antoine equation coeff PVAPB</label>
      <input type="text" class="form-control" id="pvapb" name="pvapb" required>
    </div>
    <div class="form-group">
      <label for="pc">Antoine equation coeff PVAPC</label>
      <input type="text" class="form-control" id="pvapc" name="pvapc" required>
    </div>


    <button type="submit" class="btn btn-primary">Save</button>
    <button type="submit" class="btn btn-primary">Refresh component list</button>
    &nbsp;
    &nbsp;
  </form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
